.mainDiv{
	width: 150px;
	margin:0 auto;
	border: 1px solid gray;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
}
.headerDiv{
	text-align: right;
	vertical-align: top;
}
.closeButton{
	width: 13px;
	height: 13px;
	margin: 0px 4px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 7px;
}
.dialogDiv{	
	float: right;
	width: 110px;
	padding-top: 2PX;
	padding-left: 2PX;
}
.dialogMessage{
	width: 100%;
	height: 100%;
	font-size: 11px;
}
.imageDiv{
	float: left;
	position: relative;
	top: -10px;
}
.dialogImage{
	width: 30PX;
	height: 30PX;	
}
.waitingImg{
	width: 30PX;
	height: 30PX;
}
.waitingImgDiv{
	padding : 3px 3px 3px 3px ;
	float: left;
}
.spacer{
	clear:both; 
	height:1px; 
	display:block;
}

